/* class atrtibutes for header element */
header {
  padding-top:10px;
  padding-bottom:5px;
  margin: auto;
  position: relative;
  height: 20%;
}


.textcontainer {
  
  background-color: #000000;
  opacity: 0.5;
}

.container {
  width: 80%;
  height: 60%;
  margin: auto;
  position: relative;
  opacity: 1;
  
}

/* row class to straighten out classes */
.row {
    margin-left: -15px;
    margin-right: -15px;
}

/* attributes for footer element */
footer {
	position: fixed;
  background-color: red;
  bottom:0px;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 15px;
  margin-top: 20px;
}

/* makes block of code hidden */
.hidden {
  display:none;
}

body.fell-english {
  font-family: 'Abel';
  font-size: 18px;
  color: #FFFFFF;
  background-image: url("images/warriormind.jpeg");
  background-size: cover;
}

/* attributes for button element */
button {
  color: #000000; /* to override white font color in the boddy */
  padding: 5px 10px;
height: 35px;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  margin: 15px;
}

/* input field styles */
input {
  color: #000000;
  height: 30px;
}

/* added image styles */
img {
	display: inline-block;
  width: 400px;
  height: 300px;
  float:left;
  margin-right: 10px;
}

/* modifying anchor link color */
a {
  color: yellow;
}
